@model PagedList.IPagedList<G.DataEntities.GPS_ADDRESS>

@using G.DataEntities;
@using PagedList.Mvc;
@using G.WebCA.Models;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "ADDRESS", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-8 " style="margin-bottom:10px;">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @placeholder = "Find by name", @class = "form-control pull-left" })
            <input type="submit" value="Search" class="btn btn-warning pull-left" />
        </div>
    </div>
}
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            ADDRESS
        </th>
        <th>
            LATITUDE
        </th>
        <th>
            LONGITUDE
        </th>
        <th>
            PHONE
        </th>
        <th>
            TYPE
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ADDRESS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LATITUDE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LONGITUDE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PHONE)
            </td>
            <td>
                @{
                    WServices _s = new WServices();
                    string type = _s.AddressTypeInfo(item.TYPE).Split('|')[0];
                }
               @Html.Raw(type)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

