@model G.Web.Models.LogOnModel
@{
    ViewBag.Title = G.Resources.Properties.Resource.LoginSystem;
}



<script>

    // Khai bao ban do
    var geocoder;
    var gmarkers = [];
    var map;
    var currentPos, searchStartLatLng, searchEndLatLng;
    var ItemSelectValue;
    var directionDisplay;
    var directionsService;
    var arr = [];
    var markers = [];
    var Icon;
    var Name;
    var TypeMenu = [];
    function initialize() {
        directionsService = new google.maps.DirectionsService();
        directionsDisplay = new google.maps.DirectionsRenderer();
        geocoder = new google.maps.Geocoder();
        var mapProp = {
            center: new google.maps.LatLng(10.777895, 106.681813),
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP, //'satellite'//
            
        };
        map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
    }

</script>
<style>
    body {
        background-image: url('../../Content/bg-login.jpg');
        background-size: cover;
    }

    .navbar-inverse {
        /*display:none;*/
    }

    .foot-login {
        position: fixed;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.8);
        width: 100%;
        padding-top: 35px;
        padding-bottom: 30px;
        border-top: 5px solid #f1e9b4;
    }

    .body-content {
        z-index: 9999;
        position: absolute;
        width: 100%;
    }

    #googleMap {
        width: 100%;
        height: 100%;
        position: absolute;
        min-height: 750px;
    }

    .login-pccc {
        border: 1px solid #f3f3f3;
        padding: 10px;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        box-shadow: 1px 1px 1px #e2e1e1;
        margin-top: 50px;
        border: 5px solid #f1e9b4;;
    }

        .login-pccc h2 {
            text-align: LEFT;
            font-size: 1.3em;
            font-weight: bold;
        }

        .login-pccc .form-control {
            width: 100%;
            max-width: 100% !important;
        }

    .body-content {
        padding: 0;
    }
</style>

<div id="googleMap">

</div>

<div class="body-content container">

    <div class="row" style="margin: auto;">
        <div class="col-md-4">
            <div class="login-pccc">
                <h2>
                    TÀI KHOẢN PCCC
                </h2>
                <hr />
                @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                {
                    @Html.ValidationSummary();
                    <label>Tên đăng nhập:</label>
                    @Html.TextBoxFor(m => m.UserName, new { @placeholder = "username", @class = "form-control" })
                    <label>Mật khẩu:</label>
                    @Html.PasswordFor(model => model.Password, new { @placeholder = "password", @class = "form-control" })

                    @Html.CheckBoxFor(model => model.RememberMe)        <span>@G.Resources.Properties.Resource.RememberMe</span>
                    <hr />
                    <input type="submit" value="Đăng nhập" class="btn btn-warning" />
                }
            </div>

        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">

        </div>

    </div>



</div>
<div class="foot-login">
    <div class="col-md-4">
        <img src="~/Content/logo.png" style="float:left;margin-right: 25px;" />
        <p style="padding-top:10px;">
            <b>TRUNG TÂM DỊCH VỤ AN NINH</b><br />
            <b>Hotline: 1900 789 911 </b><br />
            email: hotro@gtis.vn
        </p>

    </div>
    <div class="col-md-4">
        <p style="padding-top:10px;">

            <b>Miền Bắc:</b> 280B Lạc Long Quân,<br />
            Quận Tây Hồ, Hà Nội.<br />

            <b>Tel: 024 3941 1446</b>

        </p>
    </div>
    <div class="col-md-4">
        <p style="padding-top:10px;">
            <b>Miền Nam:</b> 47 Phạm Viết Chánh,<br />
            Quận 1, TP. Hồ Chí Minh<br />

            <b> Tel: 028 4455 6666</b>
        </p>

    </div>

</div>
<script src="https://maps.googleapis.com/maps/api/js?sensor=true&libraries=places&callback=initialize" async defer></script>
