@model PagedList.IPagedList<G.DataEntities.GPS_ADDRESS_TYPE>

@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "AddressType", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-8 " style="margin-bottom:10px;">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @placeholder = "Find by name", @class = "form-control pull-left" })
            <input type="submit" value="Search" class="btn btn-warning pull-left" />
        </div>
    </div>
}
<table class="table">
    <tr>
        <th>
            LOCAL NAME
        </th>
        <th>
            INTERNATIONAL NAME
        </th>
        <th>
            ICON 
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LOCAL_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.INTERNATIONAL_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ICON_URL)
            </td>
          
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TYPE_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.TYPE_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TYPE_ID })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

