@model G.DataEntities.GPS_ACCOUNT_POLICE

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GPS_ACCOUNT_POLICE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ACCOUNT_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACCOUNT_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODIFY_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODIFY_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MODIFY_ACCOUNT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MODIFY_ACCOUNT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USERNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USERNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PASSWORD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PASSWORD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FULLNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FULLNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHONE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIRST_LOGIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIRST_LOGIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUSTOMER_TYPE_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUSTOMER_TYPE_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PARENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PARENT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROVINCE_TYPE_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROVINCE_TYPE_ID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
